<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @node.address %>
</p>

<p>
  <strong>Home:</strong>
  <%= @node.home %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
