<%= form_for(@sensor_action) do |f| %>
  <% if @sensor_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor_action.errors.count, "error") %> prohibited this sensor_action from being saved:</h2>

      <ul>
      <% @sensor_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sensorType_id %><br>
    <%= f.text_field :sensorType_id %>
  </div>
  <div class="field">
    <%= f.label :action %><br>
    <%= f.text_field :action %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
